    <!-- Map Section -->
    <!--<div id="map"></div>-->
    echo "MAP";
<div style="text-align:center;"><img src="https://maps.googleapis.com/maps/api/staticmap?center=0.487614,101.516692&zoom=16&size=2024x768&maptype=roadmap&markers=color:blue|label:R|0.489766,%20101.517398&markers=color:green|label:I|0.489477, 101.517612&markers=color:red|label:Z|0.488823, 101.517473&markers=color:gray|label:K|0.488211, 101.517291&markers=color:black|label:I|0.487696, 101.516926&key=AIzaSyD1Lrd7xaJTe1IWyF7jvnHoEPzfeZRWzYQ" ></img></div>
